@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inconsolata", monospace;
}
nav{
        padding:20px 30px;
}
li{
    list-style-type: none;
    margin: 0 100px;
    font-size: 35px;
    font-weight: 900;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.resume-d{
    background-color: white;
    color: black;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius:10px ;
}
.banner{
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.intro{
    font-weight: 900;
    font-size: 40px;
    width: 60%;
}
.intro ,.intro-desc{
    text-align: center;
}
.contact{
    padding:15px  20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}
.why{
    width: 80%;
    margin: 0 auto;
    /* height: 1000px; */
    margin-top: 80px;
    background-color:#fbfbfc ;
    border-radius: 15px;
    padding: 60px 70px;
    
}
.why-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 60px;
     
}
.why-head{
    font-weight: 900;
    font-size: 40px;
}
.why-desc{
    font-weight: 500;
    font-size: 20px;

}
.why-head,.why-desc
{
    text-align: center;

}
.desc-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.desc-card{
    height: 336px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.info-holder{
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
}
.focus-img{
    width: 243px;
    height: 240px;
    margin-right: 80px;
}
.focus-img2{
    width: 243px;
    height: 240px;
    margin-left: 40px;
}
.learn{
    width: 150px;
    height: 50px;
    background-color: white;
    /* border-radius: 10px; */
    font-size: 20px;
}
.card-desc-head{
    font-size: 30px;
    width: 80%;
}
.card-desc-p{
    font-size: 20px;
    width: 80%;
}
.fade1{
    background: linear-gradient(90deg,white,#fbfbfc);
}
.fade2{
    background: linear-gradient(90deg,#fbfbfc,white);
}
.inspiration{
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.insp-head{
    font-weight: 900;
    font-size: 40px;
}
.insp-desc{
    width: 80%;
    text-align: center;
    font-size: 20px;
}
.iframe{
    border:2px solid grey;
    border-radius: 15px ;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    width: 95%;
    border-radius: 15px;
    height: 90%;
}
footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F8F8;
    margin-top: 80px;
    padding: 0 80px;
}
#insta{
    width: 36px;
}
h3{
    font-weight: 900;
    font-size: 25px;
}
.icons{
    display: flex;
    gap: 30px;
}